  <!-- footer-area -->
  <footer>
    <div class="footer-top-wrap">
        <div class="container">
            <div class="footer-quick-link-wrap">
                <div class="row align-items-center">
                  
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright-text">
                        <p>Copyright © 2024. All Rights Reserved By <a href="./index.html">Nproglobal Pvt. Ltd.</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="payment-method-img text-center text-md-right">
                        <img src="assets/Movflx/card_img.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
