$color_1: #bcbcbc;
$color_2: #2B96CC;
$color_3: #1696e7;
$color_4: #fff;
$color_5: inherit;
$color_6: #7e7e7e;
$color_7: #555555;
$color_8: #39ace7;
$color_9: #e3dfdf;
$color_10: #1e1b29;
$color_11: #888;
$color_12: #171d22;
$color_13: #f0f0f0;
$color_14: #1a1a1e;
$color_15: #c3c3c3;
$color_16: #616161;
$color_17: #ffffff;
$color_18: #21232b;
$color_19: #d5d5d5;
$color_20: #9d9b9b;
$color_21: #4c5066;
$color_22: #c77f01;
$color_23: #14141d;
$color_24: #e4e2e2;
$color_25: #cdcaca;
$color_26: #151517;
$color_27: #bebebe;
$color_28: #c2c2c2;
$color_29: #656363;
$color_30: #6a6a6a;
$color_31: #d81c2b;
$color_32: #e0e0e0;
$color_33: #9b9b9b;
$color_34: #c8c8c8;
$color_35: #1a1e21;
$color_36: #d0d0d0;
$color_37: #100e17;
$color_38: #eeeeee;
$color_39: #a4a1a1;
$color_40: #a0a0a0;
$color_41: #fafafa;
$color_42: #1f1e24;
$color_43: #e5e5e5;
$color_44: #656870;
$font-family_1: 'Poppins';
$font-family_2: 'Poppins', sans-serif;
$background-color_1: rgba(23,26,33,.95);
$background-color_2: transparent;
$background-color_3: rgb(0, 0, 0);
$background-color_4: rgb(18, 21, 30);
$background-color_5: #171D22;
$border-color_1: #39ace7;
$border-color_2: #2d303d;
$border-color_3: transparent transparent #393939 transparent;
$border-color_4: transparent transparent transparent #393939;
$border-color_5: transparent transparent #39ace7 transparent;
$border-color_6: transparent transparent transparent #39ace7;
$border-color_7: #171d22;